// Header
// --------------------------------------------------
// 设置顶部图片
.header { background: url('../image/tag-bg.jpg'); }
//.header { background: $whitesmoke; }
.header-inner {
  // 顶部图片限制
  padding:  80px 0 40px;
  clearfix();

  +mobile() {
    width: auto;
    margin-bottom: 50px;
    padding: 10px;
  }
}

.site-meta {
  float: left;
  // 网站名称与菜单栏的距离
  margin-left: -20px;
  line-height: normal;

  +mobile() {
    margin-left: 10px;
  }

  .brand {
    padding: 2px 1px;
    background: none;

    +mobile() { display: block; }
  }

  .logo { display: none; }


  .site-title {
    // 主页网站名称大小
    font-size: 22px;
    font-weight: bolder;

    +mobile() { line-height: 34px; }
  }
}


.logo-line-before,
.logo-line-after {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 75%;

  +mobile() { display: none; }

  // 标题上下划线，线宽
  i {
    position: relative;
    display: block;
    height: 2px;
    background: $black-deep;
    +mobile() { height: 3px; }
  }
}

.use-motion {
  .logo-line-before i { left: -100%; }
  .logo-line-after i { right: -100%; }
}
